.audiencias {
    background-image: url(/img/pared.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    text-align: center;
    padding: 15rem 5rem;
}
