.menu {
    background-color: var(--gris-clarito);
    color: var(--gris-topo);
    padding: 0.5rem;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenido a {
    color: var(--gris-topo);
    text-decoration: none;
    margin: 0 0.5rem;
}

.contenido a:hover {
    color: var(--naranja);
}
