* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Paleta de Colores */
:root {
  --gris: #7e7c82 ;
  /* --gris-claro: #bcbbbe; */
  --gris-clarito: #c4c8c1;
  --gris-topo: #414043;
  --gris-medio: #81888c;
  --verde-muzgo: #7f8a7c;
  --naranja: #da4e06;
  --salmon: #e9a86d;
  --rojo-bordo: #6b0804;
  --crema: #eae0d0;
  --blanco: white;
}
